<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Cupcakes</title>
</head>

<body>
    <h1>Cupackes list</h1>
    <div class="list">
        <ul class="cupcake-list">

        </ul>
    </div>
    <h2>Add a new cupcake!</h2>

    <form id="new-cupcake-form">
        <div>
            <label for="form-flavor">Flavor: </label>
            <input name="flavor" id="form-flavor">
        </div>

        <div>
            <label for="form-size">Size: </label>
            <input name="size" id="form-size">
        </div>

        <div>
            <label for="form-rating">Rating: </label>
            <input type="number" name="rating" id="form-rating">
        </div>

        <div>
            <label for="form-image">Image: </label>
            <input name="image" id="form-image">
        </div>

        <button>Add </button>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
        <script src="/static/app.js"></script>
</body>

</html>